<div class="m-3">
  <h2>にゃんチーズ</h2>

  <p>
    猫の“いつもの日常”を、撮り忘れないための記録と共有ができるコミュニティサイトです。
  </p>

  <p>
    にゃんチーズは、猫の日常を「撮り忘れない」ための記録・共有アプリです。<br>
    猫の何気ない仕草や表情は、気づいたときにはもう二度と同じ形では戻ってきません。<br>
    それにも関わらず、忙しい日常の中で写真を撮り忘れ、あとから「残しておけばよかった」と後悔することは少なくありません。
    <br><br>
   にゃんチーズでは、普段使っている LINE から写真を送るだけで猫の写真と簡単な情報を記録できます。<br>
    また、特定の人だけとアルバムを共有することで、大切な猫の今を、安心して一緒に残すことができます。
  </p>
</div>