.top-container{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.top-container h1,.top-container p{
  color:#3F82ED;
}
.top-container .top-logo{
  margin-top: 20px;
  margin-bottom: 20px;
}
//ボタン
.top-btn{
  width: 300px;
  margin-bottom: 15px;
}
.top-btn a{
  text-decoration: none;
}
