
<div class="d-flex justify-content-center mt-5">
  <div style="width: 300px;">
    <% if @photo.image.attached? %>
      <div class="mb-3">
        <%= image_tag url_for(@photo.image), style: "max-width: 300px; width: 100%;" %>
      </div>
    <% else %>
      <p  class="mb-3">画像がありません。</p>
    <% end %>

    <%= link_to "戻る", photos_path, class: "btn btn-light btn-block" %>
    <%= link_to "削除", photo_path(@photo), method: :delete, data: { confirm: "この写真を削除します。よろしいですか？" } ,class: "btn btn-primary btn-block" %>
  </div>
</div>